* {
    box-sizing: border-box;

}

body{
    font-family: 'Times New Roman', Times, serif;
    margin:0;
    /* display:flex */
}

.sidebar{
    /* flex:1; */
    background-color: rgb(255, 255, 255);
    border-right: 1px solid rgb(218, 218, 218);
    height: 100vh;
    width: 20%;
    position: fixed;     
}

.sidebar-content{
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.content-container{
    /* flex:4; */
    border: 1px solid rgb(212, 212, 212);
    width: 80%;
    position: relative;
    left:20%;
    
}

.items{
    display: flex;
    justify-content: center;
    border: 1px solid rgb(161, 161, 161);
    width:70%;
    /* height: 20px; */
    margin: 150px auto ; 
    padding: 20px 0;      
}

.input{
    padding:15px 10px;
    margin-right:5px;
    width: 40%;
}

.button {
    background-color: #ffff00;
    border: 2px solid rgb(0, 0, 0);
    padding:15px 20px;

}

.button:hover{
    background-color: #FFD73B

}
